body, html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  background: #050505;
  /* draw localization icon */
  /* to draw white circle */
  /* custom content popup background */
  /* custom adress popup background */
  /* custom popup icon */
  /* custom back icon */
}
body .overlay, html .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background: #000;
  opacity: 0.5;
}
body .hamburger, html .hamburger {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #FEC862;
  z-index: 3;
  text-align: center;
  bottom: 0;
  left: 0;
}
body .hamburger img, html .hamburger img {
  width: 10%;
  margin-top: 100px;
}
body .hamburger .content-link, html .hamburger .content-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
body .hamburger .content-link a, html .hamburger .content-link a {
  color: #000;
  text-decoration: none;
  font-family: "Monument Extended", "Michroma", sans-serif;
  font-size: 4.5em;
  display: block;
  margin: 100px 0;
}
body main header, html main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  padding-top: 20px;
}
body main header .content-img, html main header .content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}
body main header .content-img img, html main header .content-img img {
  width: 35%;
}
body main header .content-title, html main header .content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}
body main header .content-title h1, html main header .content-title h1 {
  font-size: 5em;
  font-family: "Monument Extended", "Michroma", sans-serif;
  color: #fff;
}
body main header .navbar .nav .nav-item, html main header .navbar .nav .nav-item {
  display: inline-block;
  margin: 10px;
}
body main header .navbar .nav .nav-item .nav-link, html main header .navbar .nav .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
}
body main .content-title-app, html main .content-title-app {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}
body main .content-title-app h1, html main .content-title-app h1 {
  font-size: 5.5em;
  font-family: "Monument Extended", "Michroma", sans-serif;
  margin-bottom: 40px;
}
body main .content-title-app p, html main .content-title-app p {
  font-size: 3.5em;
  font-family: "Open Sans", sans-serif;
  color: #FEC862;
}
body main .content-title-app__login, html main .content-title-app__login {
  display: flex;
  justify-content: center;
  width: 75%;
  color: #fff;
  z-index: 1;
  margin: auto;
  height: 100vh;
  flex-direction: column;
}
body main .content-title-app__login h2, html main .content-title-app__login h2 {
  font-size: 4em;
  font-family: "Monument Extended", "Michroma", sans-serif;
  margin-bottom: 100px;
}
body main .content-title-app__login input, html main .content-title-app__login input {
  border: none;
  background: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.5em;
}
body main .content-title-app__login .content-login-link, html main .content-title-app__login .content-login-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main .content-title-app__login .content-login-link a, html main .content-title-app__login .content-login-link a {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  color: #FEC862;
}
body main .content-title-app__login button, html main .content-title-app__login button {
  padding: 30px 30px;
  margin-top: 100px;
  background: #FECA62;
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border: none;
}
body main .content-title-app, html main .content-title-app {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}
body main .content-title-app h1, html main .content-title-app h1 {
  font-size: 5.5em;
  font-family: "Monument Extended", "Michroma", sans-serif;
  margin-bottom: 40px;
}
body main .content-title-app p, html main .content-title-app p {
  font-size: 3.5em;
  font-family: "Open Sans", sans-serif;
  color: #FEC862;
}
body main .content-title-app__create, html main .content-title-app__create {
  display: flex;
  justify-content: center;
  width: 75%;
  color: #fff;
  z-index: 1;
  margin: auto;
  height: 100vh;
  flex-direction: column;
}
body main .content-title-app__create .content-login-link-sameLine, html main .content-title-app__create .content-login-link-sameLine {
  display: flex;
  justify-content: space-between;
}
body main .content-title-app__create .content-login-link-sameLine input, html main .content-title-app__create .content-login-link-sameLine input {
  display: inline-block;
  width: 45%;
}
body main .content-title-app__create .checkbox, html main .content-title-app__create .checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .content-title-app__create .checkbox input[type=checkbox], html main .content-title-app__create .checkbox input[type=checkbox] {
  display: none;
}
body main .content-title-app__create .checkbox input[type=checkbox] + label, html main .content-title-app__create .checkbox input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 75px;
  margin-bottom: 20px;
  font: 1.5em "Open Sans", Arial, sans-serif;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body main .content-title-app__create .checkbox input[type=checkbox] + label:last-child, html main .content-title-app__create .checkbox input[type=checkbox] + label:last-child {
  margin-bottom: 0;
}
body main .content-title-app__create .checkbox input[type=checkbox] + label:before, html main .content-title-app__create .checkbox input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 4px solid #FEC862;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
body main .content-title-app__create .checkbox input[type=checkbox]:checked + label:before, html main .content-title-app__create .checkbox input[type=checkbox]:checked + label:before {
  width: 10px;
  top: 5px;
  left: 15px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body main .content-title-app__create h2, html main .content-title-app__create h2 {
  font-size: 4em;
  font-family: "Monument Extended", "Michroma", sans-serif;
  margin-bottom: 100px;
  line-height: 1.5;
}
body main .content-title-app__create input, html main .content-title-app__create input {
  border: none;
  background: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.5em;
}
body main .content-title-app__create button, html main .content-title-app__create button {
  padding: 30px 30px;
  margin-top: 100px;
  background: #FECA62;
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border: none;
}
body footer, html footer {
  width: 100%;
  background: #FEC862;
  position: absolute;
  bottom: 0;
  padding: 60px 0;
  z-index: 1;
}
body footer .content-footer, html footer .content-footer {
  width: 100%;
  display: inline-block;
  text-align: center;
}
body footer .content-footer img, html footer .content-footer img {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
body footer .content-footer p, html footer .content-footer p {
  font-size: 3.5em;
  display: inline-block;
  vertical-align: middle;
  color: #1C1C1C;
  margin-right: 30px;
  font-family: "Monument Extended", "Michroma", sans-serif;
  font-weight: normal;
}
body #map, html #map {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}
body .marker-pin, html .marker-pin {
  width: 30px;
  height: 30px;
  background-color: #e0b704;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
body .marker-pin::after, html .marker-pin::after {
  content: "";
  width: 16px;
  height: 16px;
  margin: 7px 0 0 7px;
  background: #f9F9F9;
  position: absolute;
  border-radius: 50%;
}
body .leaflet-popup-content-wrapper .leaflet-popup-content, html .leaflet-popup-content-wrapper .leaflet-popup-content {
  font-family: helvetica;
  color: black;
  font-size: 15px;
}
body .leaflet-popup-content-wrapper .leaflet-popup-content p, html .leaflet-popup-content-wrapper .leaflet-popup-content p {
  font-family: helvetica;
  color: black;
  font-size: 13px;
  padding: 0;
}
body div.leaflet-popup-content-wrapper, html div.leaflet-popup-content-wrapper {
  background-color: #e0b704;
  border-radius: 0;
}
body .leaflet-container a.leaflet-popup-close-button, html .leaflet-container a.leaflet-popup-close-button {
  color: black !important;
}
body a.leaflet-popup-close-button:hover, html a.leaflet-popup-close-button:hover {
  color: #f9F9F9 !important;
}

/*# sourceMappingURL=style.css.map */
